.navbar{
    display: flex;
    background-color:black;
    height: 18%;
    padding: 0.1%;
}
.logo{ 
    width: 30%;

}
.namelogo{
    width: 40%;

}
.navlink{
    position: relative;
    padding-top:5%;
    padding-left:12%;
    width: 70%;
    justify-content: space-between;
}
.navlink a { color: rgb(0, 140, 255);
    padding: 2%;
    font-size: large;
    width: 20%;
    text-decoration:none;
}
.navlink a:hover{
    color: white;
    text-decoration: none; 

}
.body{
    background-color: black
}
.heading{
    background-color: rgb(19, 14, 9);
    height: 20%;
    padding: 0.1%;
}
.heading2{
    background-color: rgb(233, 140, 35);
    height: 20%;
    padding: 0.1%;
}
.hname{
    animation-name: slideinright;
    color: rgb(252, 249, 249);
    padding-left: 43%;
}
.personalinfosec{
    background-image: url(./assets/personal4.png);
    opacity:0.7;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:500px ;
    display: flex;    
}
.personalinfo{
    
   color: aliceblue;
   font-family:'Times New Roman', Times, serif;
   font-size: xx-large;
   font-weight: 100;
   width: 60%;
   padding-top: 8%;
   padding-left: 5%
    
}
@keyframes zoomin{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}
.myimage{
    
    opacity: 1;
    width: 40%;
}
.img{
    animation-name: zoomin;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function:step-start;
    margin-left: 15%;
    padding: 9%;
    width: 75%;
    clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    transform: rotate(0deg);
  
}
.Hobbies{
    background-color: rgb(11, 6, 6);
    height: max-content;
    display: flex;
    padding: 3%;



}.Hsport{
    width: 38%;
    

}.Hnames{
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50;
    padding-left: 25%;
    font-size: 180%;


}.Hsname{
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50;
    padding-left: 35%;
    font-size: 180%;



}
.Hmusic{
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50;
    padding-left: 19%;
    font-size: 180%;

}
.Himg{
    padding: 2rem;
    border-radius: 5rem;
    width: 100%;
    height: 67%;
}

.skills{

    background-image: linear-gradient(to bottom , rgb(45, 31, 16),rgb(30, 19, 7));
    padding: 2%;
}
.Snames{
    background-image: linear-gradient();
    font-family: 'Times New Roman', Times, serif;
    font-weight:20;
    color: azure;
    padding: 1%;
    font-size:28px;

}
.Langicon{
    display: flex;
}
.Licons{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    grid-gap:12%;
}
@keyframes slideinleft{
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideinright{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}
.LIimg{
    width:10%;
    animation-name: slideinleft;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transform: translate(150px);
}
.LIimg1{
    width:10%;
    animation-name: slideinright;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transform: translate(-150px);
}
.LIimg2{
    width: 10%;
}
.work{
  background-color: rgb(21, 13, 3);
}
.virtual{
    display: flex;
    padding: 2%;
    grid-gap: 10px;
    border-bottom: #fff solid;
}
.virtual img{
    width: 20%;
    height: 90%;
    padding-top: 5%;
}
.virtual ul {
    padding: 5%;
    color: rgb(189, 190, 190);
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
.virtual ul :first-child{
    font-size: xx-large;
}
.webd{
    display: flex;
    padding: 4%;

}
.webd img{
    width: 40%;
    height: 70%;
    padding-top: 4%;
}
.webd ul{
    padding: 5%;
    padding-left:8%;
    color: rgb(189, 190, 190);
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
.webd ul :first-child{
    font-size: xx-large;
}
.PROJECTS{
    background-image: linear-gradient(to bottom ,rgb(30, 19, 7),rgb(3, 2, 1));
    width: calc(100/2);
    display: flex;

}
.Pclass{
   padding: 5%;
   width:50%;
   align-items: center;
   justify-content: center;
   border: 5px #fff solid;

}
@media screen and (max-width:768px){
    .pclass{
        width: 100%;
    }
    
}
.Pclass img{
    width: 60%;
    margin-left:18%;

}
.Pclass ul li{
    color:rgb(135, 132, 132);
    font-size: medium;
}
.CONTACTME{

    display: flex;
}

.Cnrml{
    background-color: black;
    width: 60%;
    padding: 13%;
    
}
.Csocial{
    background-color: black;
    width: 40%;
    padding-top: 13%;
}
.Cnames{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:azure;
    width: 95%;

}
.Cimg{
    width: 13%;
}






/* Universal classes */
.blue{

    color: rgb(71, 174, 174);
}
.black{

    color: black;
}
.link:hover{
    color: rgb(71, 174, 174);
}


.parallax4{
  background-image: url(./assets/personal.png);
  min-height: 450px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax{
  background-image: url(./assets/tech2.png);
  min-height: 550px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2{
  background-image: url(./assets/contact.png);
  min-height: 570px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3{
  background-image: url(./assets/skills.png);
  min-height: 550px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax5{
  background-image: url(./assets/tech5.png);
  min-height: 550px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
