* {
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    position: absolute;
    top:5mm;
}
.navbarimg {
    width: 100%;
    height: 800px;
    position:relative;
    top: 0;
    z-index: -1;
    opacity: 0.8;
}
.navbarimg img{
    padding: 0;
    width: 100%;
    height: 750px;
    
}
.navlink {
    position: absolute;
    grid-gap: 10px;
    width: 70%;
    justify-content: space-between;
    top: 30mm;
    left: 52%;
}
.navlink a {
    color: rgb(255, 255, 255);
    padding: 2.5%;
    font-size: large;
    width: 20%;
    background-color:rgb(31, 29, 29);
    border-radius: 2rem;
}

.navlink a:hover {
    color: rgb(220, 144, 50);
    text-decoration: none;
}
.navlinks {
    color: rgb(0, 140, 255);
    padding: 2.5%;
    font-size: large;
    width: 20%;
    display: inline;
}

.navlinks:hover {
    color: rgb(77, 68, 68);
    text-decoration: none;
}
.welcome{
    width: 100%;
    height: 100px;
    position: absolute;
    top:25mm;
    left:-21.2%;
    transform: rotateZ(1deg);
}
.welcome:nth-child(2){
    top: 87mm;
    left:62%;
    width: 280px;
    transform: rotateZ(0deg);
}
.welcome:nth-child(2) p{
    font-size: 27px;
}
.welcome p{
    color: #200a0a;
    text-align: center;
    margin-top: 17%;
    font-size: 32px;
    font-family:'Times New Roman', Times, serif
}
.body {
    background-color: #000000;
    position:absolute;
    top: -10%;
    overflow-x: hidden;
    width: 100%;
}

.heading {
    background-color: rgba(24, 16, 16, 0.829);
    height: 65px;
    width:150px;
    position: absolute;
    top: 13%;
    left: 45%;
    border-radius: 1rem;
    z-index: 1;
}
.heading2{
    background-color: rgba(24, 16, 16, 0.628);
    height: 65px;
    width:200px;
    position: absolute;
    left: 44%;
    border-radius: 1rem;
    z-index: 1;
    top: 17%;
}
.heading h2{
    height: 20%;
    text-align: center;
    color: rgb(252, 249, 249); 
}
.heading2 h2{
    height: 20%;
    text-align: center;
    color: rgb(252, 249, 249); 
}
.personalinfo {
    position: absolute;
    display: flex;
    top: 13.5%;
    border-top: 2px #ddd solid;
    border-radius: 2rem;
}

.personalinfo p{
    padding-top:5% ;
    color: rgb(250, 240, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 100;

}

.Hobbies {
    background-color: rgb(13, 15, 24);
    display: flex;
    padding: 3%;
    width: 100%;
    grid-gap: 20px;
    position: absolute;
    top: 17.5%;
    border-radius: 1rem;
    border-top: 2px #ddd solid;
}

.Hobbies img {
    width: 33%;

}
.edu {
    display: flex;
    background-color: #1c1818;
    width: 100%;
}
/* .edclass{
    width: 100%;
    background-image: url(./assets/edback.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
} */
.headingg{
   position: relative;
   text-align: center;
   width: 250px;
   height: 70px;
   border-radius: 1rem;
   padding-top: 0.1mm;
   top:0;
   left: 0;
   background-image: url(./assets/edu2.png);
   background-repeat: no-repeat;
   background-size: cover;
   color: #ffffff;
}

.decor1{
    display: flex;
    background-color: #1c1818;
    transform: rotate(-90deg);
    width: 250px;
    height: 70px;
    position:relative;
    top:55mm;
    left:-23mm;
}
.educlass{
    display: flex;
    background-color: #1c1818;
    padding-top: 5%;
    margin-left:5%
}
.institute{
    width: 350px;
    height: 350px;
    border-radius: 1rem;
    border: 2px #fff solid;
    text-align: center;
}
.institute img{
    opacity: 0.3;
    position:relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.institute:nth-child(1){
    /* background-image: url(./assets/eduback.jpeg); */
    background-repeat:no-repeat;
    background-size: cover;

    position: relative;
    top: 0;
    left:-9%;
    z-index: 0;
    margin-top: 5mm;
    border-right: none;
    transition: transform 0.3s ease;

}
.institute:nth-child(2){
    position: relative;
    top: 0;
    left:-11%;
    width: 400px;
    height: 400px;
    z-index: 1;
    transition: transform 0.3s ease;
}
.institute:nth-child(2) img{
    opacity: 0.3;
}
.institute:nth-child(3){
    position: relative;
    top: 0;
    left:-13%;
    z-index: 0;
    margin-top: 5mm;
    border-left: none ;
    transition: transform 0.3s ease;
}
.institute:nth-child(1):hover{
    transform: perspective(500px) scale(1.1) rotateY(5deg);
}
.institute:nth-child(2):hover{
    transform: perspective(500px) scale(1.1);
}
.institute:nth-child(3):hover{
    transform: perspective(500px) scale(1.1) rotateY(-5deg);
}
.institute p{
    padding:5%;
    position:absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    z-index: 0;
    color: #ddd;
    font-size:x-large;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.institute ul li{
    text-decoration: none;
}
.classcertifi{
    background-color: #1c1818;
    height: 500px;
    width: 100%;
}
.certifi {
    display: flex;
    background-color: #1c1818;
    
}
.udemy {
    margin: 3mm;
    background-color: #1c1818;
    display: inline;
    width:350px;
    height: 400px;
    position: relative;
    left:15%;
}
.udemy img{
    width: 100%;
    opacity: 0.8;
    height: 70%;
}
.udemy p{
    color: #ddd;
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #272525;
    height: 30%;
    text-align: center;
}
.udemy p:hover{
    background-color: #351e1e;
}

.skills {
    background-color: #1c1818;
    display: flex;
    height: 600px;
    width: 100%;
    padding-top:3% ;
}
.tech{
    margin: 2mm;
    width: 50%;
    height: 500px;
    position: relative;
    left:-2%;
}
.tech1{
    margin: 2mm;
    height: 250px;
    border: 2px #bf9069 solid;
    position: relative;
    left:-2%;
}
.tech2{
    width: 50%;
    margin: 4mm;
    width: 400px;
    height: 500px;
    border: 2px #bf9069 solid;
    position: relative;
    left:-2%;
}

.tech1 p{
    background-image: linear-gradient();
    font-family: 'Times New Roman', Times, serif;
    font-weight: 20;
    color: azure;
    padding: 1%;
    font-size: 21px;
    text-align: center;
}
.tech2 ul{
    background-image: linear-gradient();
    font-family: 'Times New Roman', Times, serif;
    font-weight: 20;
    color: azure;
    padding: 5%;
    font-size: 21px;
    text-align: left;
}
.tech1 img{
    margin-left: 120px;
    width: 10%;
}
/* @keyframes slideinleft {
    0% {
        transform: translateX(200px);
    }

    50% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(200px);
    }
} */
.work {
    background-color: rgb(21, 13, 3);
    display: flex;
}

.virtual {
    display: inline;
    padding: 2%;
    margin: 4mm;
    grid-gap: 10px;
    width: 50%;
    background-image: url(./assets/k.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    border: #ddd 2px transparent;
    transition: transform 0.3s ease;
}
.virtual img {
    width: 20%;
    border-radius: 50%;
}
.virtual:hover{
    transform: perspective(500px) rotatex(3deg);
    border: #bf9069 2px solid;
}
.virtual ul {
    padding: 5%;
    color: rgb(189, 190, 190);
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}

.virtual ul :first-child {
    font-size: xx-large;
}

.webd {
    display: inline;
    padding: 2%;
    width: 50%;
}
.decor{
    display: flex;
    background-color: rgb(21, 12, 2);
}
.headingg2{
    background-image: url(./assets/k.png);
    position: relative;
   text-align: center;
   width: 250px;
   height: 70px;
   border-radius: 2rem;
   margin: 2mm;
   padding-top: 0.1mm;
   top:0;
   left: 36%;
   background-repeat: no-repeat;
   background-size: cover;
   color: #ddd;
}
.box1{
    background-image: url(./assets/k.png);
    position: relative;
   text-align: center;
   width: 50px;
   height: 35px;
   border-radius: 1rem;
   margin: 2mm;
   padding-top: 0.1mm;
   top:0;
   bottom: 0;
   left: 36%;
   background-repeat: no-repeat;
   background-size: cover;
   color: #ddd;
}
.headingg2 h2{
    font-size: 23px;
}
.PROJECTS {
    background-color: rgb(21, 12, 2);
    display: flex;
}
.Pclass {
    background-image: url(./assets/k.png);
    padding: 4%;
    width: 25%;
    align-items: center;
    justify-content: center;
    border: 5px #fce7da transparent;
    border-radius: 2rem;
    margin: 2mm;
    transition: transform 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
}
.Pclass:hover{
    background-position: 80%;
    transform: perspective(500px) scaleX(1.05);
    border: #bf9069 2px solid;

}
.Pclass:nth-child(1):hover{
    background-position: 80%;
    transform: perspective(500px) rotateY(4deg);
}
.Pclass:nth-child(4):hover{
    background-position: 80%;
    transform: perspective(500px) rotateY(-4deg);
}
.Pclass img {
    width: 60%;
    margin-left: 18%;
    margin-bottom: 18%;
}

.Pclass ul li {
    color: rgb(148, 144, 144);
    font-size: medium;
    width: var();
}
.Pclass h4{
    color: rgb(213, 147, 86);
    font-size: large;
    text-align: center;
}
::-webkit-scrollbar {
    height: 6px;
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d58c05;
    border-radius: 21px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ae4600;
  }
  .containerr{
    background-color: rgb(21, 12, 2);
  }
  .container {
    display: flex;
    gap: 12px;
    width: 100%;
    background-color: rgb(21, 12, 2);
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    width: 100%;
  }
  .container .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    background-image:url(./assets/k.png);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  .card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #c15803;
    border-radius: 50%;
  }
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
  }
  .card h2 {
    margin-top: 25px;
    color: #5c5c5c;
    font-size: 22px;
    font-weight: 600;
  }
  .card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #5c5c5c;
    text-align: center;
  }
.decor3{
    display: flex;
}
.headingg3{
    background-image: url(./assets/cbackk.jpeg);
    position:relative;
   text-align: center;
   width: 250px;
   height: 70px;
   border-radius: 2rem;
   margin: 2mm;
   padding-top: 0.1mm;
   top:0;
   left: 90%;
   background-repeat: no-repeat;
   background-size: cover;
   color: #ddd;
}
.box2{
    background-image: url(./assets/cbackk.jpeg);
    position: relative;
   text-align: center;
   width: 50px;
   height: 35px;
   border-radius: 1rem;
   margin: 2mm;
   padding-top: 0.1mm;
   top:0;
   left: 90%;
   background-repeat: no-repeat;
   background-size: cover;
   color: #ddd;
}
.box3{
    background-image: url(./assets/cbackk.jpeg);
    position: relative;
   text-align: center;
   width: 40px;
   height: 20px;
   border-radius: 1rem;
   margin: 2mm;
   padding-top: 0.1mm;
   top:0;
   left: 90%;
   background-repeat: no-repeat;
   background-size: cover;
   color: #ddd;
}

.CONTACTME {
    display: flex;
    background-image: url(./assets/cback.jpeg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.Csocial {
    width: 40%;
    padding-top: 17%;
}
.Csocial h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    width: 95%;

}
.Cimg {
    width: 18%;
}
.para {
    background-image: url(./assets/profile.png);
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax6 {
    background-image: url(./assets/edu4.jpeg);
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-image: url(./assets/tech2.png);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url(./assets/contact.png);
    min-height: 570px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url(./assets/skills.png);
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax5 {
    background-image: url(./assets/tech5.png);
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    width: 60%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25mm;
    left: -29%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border-color: #fff;
}

@media (min-width:360px) and (max-width:768px) {
    form {
        margin-left: 8%;
    }
}

form input,
form textarea {
    padding: 20px;
    background: rgba(13, 11, 11, 0.582);
    font-size: 16px;
    color: #ffffff;
}

form button {
    padding: 15px;
    background: rgba(255, 153, 0, 0.868);
    font-size: 18px;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 10px;
}


@media screen and (max-width:480px) {
    .welcome{
        left:0;
    }
    .welcome p{
        font-size: 18px;
    }
    .welcome:nth-child(2){
        top: 1.7%;
        left:10%;
        width: 280px;
        transform: rotateZ(0deg);
    }
    .welcome:nth-child(2) p{
        font-size: 18px;
        color: #f1ece9;
    }
    .body {
        overflow-x:hidden;
        width: 100%;
    }
    .navbar {
        display: flex;
        position: absolute;
        top:1mm;
        width: 100%;
    }
    .navbarimg {
        width: 100%;
        height: 580px;
        position:relative;
        top: 0;
        z-index: -1;
        opacity: 0.8;
    }
    .navbarimg img{
        padding: 0;
        width: 100%;
        height: 580px;
        
    }
    .navlink {
        position: relative;
        grid-gap: 0;
        width: 100%;
        justify-content: space-between;
        top: 20mm;
        left:0;
    }
    
    .navlink a {
        color: rgb(255, 255, 255);
        padding: 2.5%;
        font-size: 16px;
        width:50px;
        margin: 2mm;
        border-radius: 1rem;
        position: relative;
        top: 5%;
        left: 0;
    }
    .navlink a:first-child{
        display:none;
    }
    .navlink a:last-child{
        display:none;
    }    
    .heading {
        width: 120px;
        height: 40px;
        position: relative;
        top: 0;
        left: 32%;
    }
    .heading2{
        width: 120px;
        height: 40px;
        position: relative;
        top: 0;
        left: 32%;
    }
    .heading h2{
        padding-top: 8%;
        font-size: 21px;
    }
    .heading2 h2{
        padding-top: 8%;
        font-size: 21px;
    }
    .personalinfo {
        width: 100%;
        position: relative;
        top:0;
    }
    .personalinfo p{
        padding:5% ;
        font-size: larger;
    }
    .Hobbies {
        background-color: rgb(13, 15, 24);
        display:inline-block;
        width: 100%;
        position: relative;
        top: 17.5%;
        border-top: 2px #ddd solid;
        
    }
    .Hobbies img {
        width: 85%;
        padding-left:8%;
    }
    .parallax6{
        min-height: 300px;
    }
    .edu {
        display:inline-block;
    }
    .headingg{
       width: 170px;
       height: 50px;
       top:0;
       left: 0;
    }
    .headingg h2{
        font-size: 21px;
    }
    .decor1{
        transform: rotate(0deg);
        width: 170px;
        height: 50px;       
        top:5%;
        left:28%;
    }
    .educlass{
        display:inline-block;
        background-color: #1c1818;
        padding-top: 5%;
        margin-left:5%
    }
    .institute{
        width: 80%;
        height: 350px;
        border: 2px #fff solid;
        text-align: center;
    }
    .institute:nth-child(1){
        position: relative;
        top: 0;
        left:6%;
        z-index: 0;
        margin-top: 5mm;
        border-right: 2px #fff solid;
        transition: none;
    }
    .institute:nth-child(2){
        position: relative;
        top: 5%;
        left:6%;
        width: 80%;
        height: 350px;
        transition: none;
        margin-top: 5mm;
    }
    .institute:nth-child(3){
        position: relative;
        top: 0;
        left:6%;
        z-index: 0;
        margin-top: 5mm;
        border-left: 2px #fff solid ;
        transition: none;
    }
    .institute:nth-child(1):hover{
        transform:none;
    }
    .institute:nth-child(2):hover{
        transform: none;
    }
    .institute:nth-child(3):hover{
        transform: none;
    }
    .institute p{
        font-size:larger;
    }
    .institute ul li{
        text-decoration: none;
    }
    .classcertifi{
        background-color: #1c1818;
        height: 500px;
        width: 100%;
    }
    .certifi {
        display: inline-block;
        background-color: #1c1818;
        position: relative;
        top: 8%;
        
    }
    .udemy {
        margin:0;
        background-color: #1c1818;
        display: inline;
        width:100%;
        height: 250px;
        position: relative;
        left:11%;
    }
    .udemy img{
        width: 75%;
        opacity: 0.8;
        height: 70%;
    }
    .udemy p{
        width: 75%;
        font-size: 18px;
    }
    .udemy p:hover{
        background-color: #351e1e;
    }
    
    .skills {
        display: inline-block;
        height: max-content;
        width: 100%;
        padding-top:3% ;
        position: relative;
        top: 15mm;
    }
    .tech{
        margin: 2mm;
        width: 90%;
        height: 500px;
        position: relative;
        left:1%;
    }
    .tech1{
        margin: 2mm;
        height: 250px;
        width: 100%;
        border: 2px #bf9069 solid;
        position: relative;
        left:-2%;
    }
    .tech2{
        margin: 2mm;
        width: 90%;
        height: max-content;
        position: relative;
        left:1%;
    }
    
    .tech1 p{
        padding: 1%;
        font-size: 18px;
    }
    .tech2 ul{
        padding: 5%;
        font-size: 18px;
        text-align: left;
    }
    .tech1 img{
        margin-left: 20px;
        width: 20%;
    }
    .work {
        background-color: rgb(21, 13, 3);
        display: inline;
        width: 100%;
    }
    
    .virtual {
        display: inline;
        padding: 2%;
        margin: 4mm;
        grid-gap: 10px;
        width: 95%;
        transition: none;
    }
    .virtual img {
        width: 20%;
        border-radius: 50%;
    }
    .virtual:hover{
        transform: none;
    }
    .virtual ul {
        font-size: 110%;
    }
    .virtual ul :first-child {
        font-size: x-large;
    }
    .decor{
        display: flex;
        background-color: rgb(21, 12, 2);
    }
    .headingg2{
        position: relative;
       width: 150px;
       height: 50px;
       top:0;
       left: 12%;
    }
    .headingg2 h2{
        font-size: 18px;
    }
    .box1{
        position: relative;
       width: 40px;
       height: 30px;
       top:0;
       bottom: 0;
       left: 12%;
    }
    .PROJECTS {
        background-color: rgb(21, 12, 2);
        display: inline-block;
        width: 100%;
        height:max-content;
    }
    .Pclass {
        padding-left:4%;
        width: 95%;
        transition: none;
        height:max-content;
    }
    .Pclass:hover{
        transform: none;
        border:none;
    }
    .Pclass:nth-child(1):hover{
        transform: none;
    }
    .Pclass:nth-child(4):hover{
        transform: none;
    }
    .Pclass img {
        margin-bottom: 8%;
    }
    .Pclass ul li {
        font-size:small;
    }
    .parallax{
        min-height:300px;
        width: 100%;
    }
    .parallax2{
        min-height:300px;
        width: 100%;
    }
    .decor3{
        display: flex;
    }
    .headingg3{
        position: relative;
        width: 150px;
        height: 50px;
        top:0;
        left: 2%;
    }
    .headingg3 h2{
        font-size: 21px;
    }
    .box2{
        position: relative;
        width: 40px;
        height: 30px;
        top:0;
        bottom: 0;
        left: 2%;
    }
    .box3{
        position: relative;
        width: 30px;
        height: 25px;
        top:0;
        bottom: 0;
        left: 0%;
    }
    
    .CONTACTME {
        width: 100%;
        display: inline;
        background-image: url(./assets/cback.jpeg);
        opacity: 0.8;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
    }
    .footer{
        width: 95%;
        left:0;
        top:10mm;
    }
    form button{
        width: 120px;
        padding: 12px;
    }
    .Csocial {
        width: 95%;
        padding-top: 17%;
        padding-left: 3%;
        padding-bottom: 5%;
    }
    .Csocial h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 255, 255);
        width: 95%;
        font-size: 21px;
    
    }
    .Cimg {
        width: 16%;
        opacity: 1;
    }
    footer {
        font-size: 10px;
    }
}
